
{% if company %}
    <div class="contact-area">
        <div class="container-large-device">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-content-two available">
                            
                            {% if contact_heading %}
                            <h2 class="title">{{contact_heading.title}}</h2>
                            <h5 class="sub-title">{{contact_heading.description}}</h5>
                            {% else %}
                            <h2 class="title">We Are Available<br/> For You 24/7</h2>
                            <h5 class="sub-title">Our online support service is always 24 Hours</h5>
                            {% endif %}
                                
                        </div><!-- /.testimonial-heading-content -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
                <div class="row">
                    
                    {% if company.google_map_url %}                        
                    <div class="col-md-7">
                        <div class="map-left-content">
                            <iframe width="600" height="350" src="{{company.google_map_url}}" allowfullscreen="allowfullscreen"></iframe>
                        </div><!-- /.mapl-left-content -->
                    </div><!-- /.col-md-7 -->
                    {% endif %}


                    <div class="col-md-5">
                        <div class="map-right-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="contact">
                                        <h4><i class="fa fa-address-book"></i>Address</h4>
                                        <p>{{company.address}}</p>
                                    </div><!-- /.contact -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6">
                                    <div class="contact">
                                        <h4><i class="fa fa-envelope"></i>Mail</h4>
                                        <p>{{company.email}}</p>
                                    </div><!-- /.contact -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="contact">
                                        <h4><i class="fa fa-phone-square"></i>Call</h4>
                                        <p>{{company.country_code}} {{company.phone}}, {{company.country_code}} {{company.alternative_phone}}</p>
                                    </div><!-- /.contact -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6">
                                    <div class="contact">
                                        <h4><i class="fa fa-user-circle"></i>Social account</h4>
                                        {% if fb or ig or li or tw or ytube or telg or whatsapp or threads %}
                                        <div class="social-icon">
                                            {% if fb %}
                                                    <a href="{{fb.url}}"><i class="fab fa-facebook-f"></i></a>
                                            {% endif %}

                                            {% if ig %}
                                                    <a href="{{ig.url}}"><i class="fab fa-instagram"></i></a>
                                            {% endif %}
                                            
                                            {% if li %}
                                                    <a href="{{li.url}}"><i class="fab fa-linkedin"></i></a>
                                            {% endif %}
                                            
                                            {% if tw %}
                                                    <a href="{{tw.url}}"><i class="fab fa-twitter"></i></a>
                                            {% endif %}
                                            
                                            {% if ytube %}
                                                    <a href="{{ytube.url}}"><i class="fab fa-youtube"></i></a>
                                            {% endif %}
                                                
                                            {% if telg %}                                        
                                                    <a href="{{telg.url}}"><i class="fab fa-telegram"></i></a>
                                            {% endif %}
                                            
                                            {% if whatsapp %}                                        
                                                    <a href="{{whatsapp.url}}"><i class="fab fa-whatsapp"></i></a>
                                            {% endif %}

                                            {% if threads %}                                        
                                                    <a href="{{threads.url}}"><i class="fa-brands fa-threads"></i></a>
                                            {% endif %}
                                        </div><!-- /.Social-icon -->
                                        {% else %}
                                        <div class="social-icon">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div><!-- /.Social-icon -->
                                        {% endif %}
                                    </div><!-- /.contact -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.map-right-content -->
                    </div><!-- /.col-md-5 -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </div>
{% else %}
    <div class="contact-area">
        <div class="container-large-device">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-content-two available">
                            {% if contact_heading %}
                            <h2 class="title">
                                {{contact_heading.title}}
                            </h2>
                            <h5 class="sub-title">{{contact_heading.description}}</h5>
                            {% else %}
                            <h2 class="title">We Are Available<br/> For You 24/7</h2>
                            <h5 class="sub-title">Our online support service is always 24 Hours</h5>
                            {% endif %}
                                
                        </div><!-- /.testimonial-heading-content -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-7">
                        <div class="map-left-content">
                            <iframe width="600" height="350" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC871wKM6aoCLSV_pT3xBVsYzNGXaDh7Pw&q=121King+St,Melbourne+VIC+3000,Australia" allowfullscreen="allowfullscreen"></iframe>
                        </div><!-- /.mapl-left-content -->
                    </div><!-- /.col-md-7 -->
                    <div class="col-md-5">
                        <div class="map-right-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="contact">
                                        <h4><i class="fa fa-address-book"></i>Address</h4>
                                        <p>112/B - Road 121, King/St Melbourne Australia</p>
                                    </div><!-- /.contact -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6">
                                    <div class="contact">
                                        <h4><i class="fa fa-envelope"></i>Mail</h4>
                                        <p>yourmail@domain.com houserent@domain.com</p>
                                    </div><!-- /.contact -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="contact">
                                        <h4><i class="fa fa-phone-square"></i>Call</h4>
                                        <p>+99 0215469875 <br/>666 35874692050</p>
                                    </div><!-- /.contact -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6 col-sm-6">
                                    <div class="contact">
                                        <h4><i class="fa fa-user-circle"></i>Social account</h4>
                                        {% if fb or ig or li or tw or ytube or telg or whatsapp or threads %}
                                        <div class="social-icon">
                                            {% if fb %}
                                                    <a href="{{fb.url}}"><i class="fab fa-facebook-f"></i></a>
                                            {% endif %}

                                            {% if ig %}
                                                    <a href="{{ig.url}}"><i class="fab fa-instagram"></i></a>
                                            {% endif %}
                                            
                                            {% if li %}
                                                    <a href="{{li.url}}"><i class="fab fa-linkedin"></i></a>
                                            {% endif %}
                                            
                                            {% if tw %}
                                                    <a href="{{tw.url}}"><i class="fab fa-twitter"></i></a>
                                            {% endif %}
                                            
                                            {% if ytube %}
                                                    <a href="{{ytube.url}}"><i class="fab fa-youtube"></i></a>
                                            {% endif %}
                                                
                                            {% if telg %}                                        
                                                    <a href="{{telg.url}}"><i class="fab fa-telegram"></i></a>
                                            {% endif %}
                                            
                                            {% if whatsapp %}                                        
                                                    <a href="{{whatsapp.url}}"><i class="fab fa-whatsapp"></i></a>
                                            {% endif %}

                                            {% if threads %}                                        
                                                    <a href="{{threads.url}}"><i class="fa-brands fa-threads"></i></a>
                                            {% endif %}
                                        </div><!-- /.Social-icon -->
                                        {% else %}
                                        <div class="social-icon">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div><!-- /.Social-icon -->
                                        {% endif %}
                                    </div><!-- /.contact -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.map-right-content -->
                    </div><!-- /.col-md-5 -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </div>
{% endif %}
    

